.panel {
  display: flex; 
  flex-direction: column;       
}

.panel__boolean-values {
  display: flex;    
  font-size: 16px;
  margin-bottom: 5px;
}

.panel__number-values {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 10px;
}

.panel__section1, .panel__section2, .panel__section3 {
  display: flex;
}

.panel__section1 {
  margin-bottom: 5px;
}

.panel__section1 > *:not(:last-child),
.panel__section2 > *:not(:last-child),
.panel__section3 > *:not(:last-child) {
  margin-right: 5px;
}
.panel__boolean-values > *:not(:last-child) {
  margin-right: 10px;
}
.panel__section1 > *, .panel__section2 > *, .panel__section3 > * {
  width: 125px;
}

.panel__toxin-rangeslider {
  width: 100%;
  height: 35px;
}
.panel__values {
  margin-right: 5px;
}
.panel_is-vertical {
  height: 390px;
  flex-direction: row;
  .panel__boolean-values {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .panel__section1, .panel__section2, .panel__section3 {
    flex-direction: column;
  }
  .panel__toxin-rangeslider {
    height: 100%;
    width: 60px;
  }
  .panel__section1 > *:not(:last-child), .panel__section2 > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .panel__boolean-values > *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
    
}