include ../select-items/select-items
include ../checkbox/checkbox
include ../number/number

mixin panel(data={isVertical:false})  
  .panel(class = data.isVertical ? 'panel_is-vertical' : '')
    .panel__boolean-values
      .panel__checkbox-is-vertical
        +checkbox({text:'Vertical orientation', isChecked: false})
      .panel__checkbox-is-interval
        +checkbox({text:'Two handles', isChecked: true})
      .panel__checkbox-is-tip
        +checkbox({text:'Show tips', isChecked: false})    
    .panel__number-values
      .panel__section1
        .panel__input-min-value
          +number({text:'Min. value', value:15})      
        .panel__input-max-value
          +number({text:'Max. value', value:15})
        .panel__input-step-value
          +number({text:'Step value', value:15})
      .panel__section2
        .panel__input-value-from
          +number({text:'From value', value:15})
        .panel__input-value-to
          +number({text:'To value', value:15})
        .panel__input-values      
          +select-items({title:'Items', items:[2,4,8,16,32,64,128, 256, 512, 1024]})