mixin input({text, type, value, isDisabled, minValue})
  label.input
    span.input__text #{text}
    input(type = type value = value disabled = isDisabled min = minValue).input__field.js-input__field