.select-items {
  width: 100%;

  &__container {
    display: flex;
  }

  &__container>*:not(:last-child) {
    margin-right: 5px;
  }

  &__title {
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    width: 14px;
    height: 14px;
    font-weight: bold;
  }

  &__options {
    width: 100%;
  }

  &__button-add {
    margin-right: 3px;
    color: green;
    line-height: 2px;
  }

  &__button-remove {
    color: red;
    line-height: 0px;
  }

  .select-items_not-using {

    .select-items__title,
    .select-items__options {
      color: gray;
    }

    .select-items__button-remove_disabled {
      color: gray;
    }
  }
}