mixin select-items({isDisabled, title, items, isRemoveDisabled})
  .select-items.js-select-items(class = isDisabled ? 'select-items_not-using' : '')
    .select-items__container
      .select-items__title #{title}
      .select-items__buttons
        button(type = 'button').select-items__button.select-items__button-add.js-select-items__button-add +
        button.select-items__button.select-items__button-remove.js-select-items__button-remove(type = 'button' class = isRemoveDisabled ? 'select-items__button-remove_disabled' : '') ‒
    select.select-items__options.js-select-items__options
      for item in items
        option #{item}
