@import "../../common.less";
@import "../../components/select-items/select-items";
@import "../../components/panel/panel.less";
@import "../../components/checkbox/checkbox.less";
@import "../../components/input/input";

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;  
  justify-content: center;  
  margin-top: 50px;
}

.panelv__wrapper {
   display: flex;
   > *:not(:last-child) { margin-right: 30px;}
   margin-bottom: 15px;
 }

 .columns {
display: flex;
 }
 .column1 {
   margin-right: 25px;
   > *:not(:last-child) { margin-bottom: 22px;}
 }
 
 
@color: red;
@index: 0;

.panel#p2 .rangeslider .rangeslider__line-selected {background: blue;}

@colors: #EE4266, #0070B7, teal, brown, orange, purple, violet, #4DBAE6, #3B444B;

each(@colors, {
  .panel#p@{index} {
    .rangeslider .rangeslider__tip {background: @value;}
    .rangeslider .rangeslider__line-selected {background: @value;}
    .rangeslider .rangeslider__handle {background: @value;}
    .rangeslider .rangeslider__handle:hover:not(.rangeslider__handle_isMoving) {background: white; border-color: @value;}
    .rangeslider .rangeslider__handle_isMoving {background: @value;}
  }
});

.panels {
display: grid;
max-width: 1200px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-template-areas:
  "column1-1 column2-1 column3-1 column4-1"
  "column1-2 column2-1 column3-1 column4-1"
  "column1-3 column2-2 column3-2 column4-2"
  "column1-4 column2-2 column3-2 column4-2";
justify-items: center;
gap: 15px 0px;
padding: 20px;
}

.panels__ {
&column1-1 {
  grid-area: column1-1;
}

&column1-2 {
  grid-area: column1-2;
}

&column1-3 {
  grid-area: column1-3;
}

&column1-4 {
  grid-area: column1-4;
}
&column2-1 {
  grid-area: column2-1;  
}

&column2-2 {
  grid-area: column2-2;
}

&column3-1 {
  grid-area: column3-1;
}

&column3-2 {
  grid-area: column3-2;
}

&column4-1 {
  grid-area: column4-1;
}

&column4-2 {
  grid-area: column4-2;
}
}