include ../../common
include ../../components/todo/todo

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Toxin range slider
    +favicon       
    link(href="jquery-plugins/toxin-rangeslider/toxin-rangeslider.css" rel="stylesheet")         
    link(href="index.css" rel="stylesheet")         
    //-script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js")

  body
    .test1
    script(type="text/javascript" src="jquery/jquery.js")
    script(type="text/javascript" src="jquery-plugins/toxin-rangeslider/toxin-rangeslider.js")
    script(type="text/javascript" src="index.js")
