include ../../common
include ../../components/panel/panel

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Toxin range slider
    +favicon       
    link(href="jquery-plugins/toxin-rangeslider/toxin-rangeslider.css" rel="stylesheet")         
    link(href="index.css" rel="stylesheet")         
    //-script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js")

  body
    +panel({id:'p1', 
      slider: { isVertical: false, isTwoHandles: true, isTip: true,
      minValue: 0, maxValue: 1220, stepValue: 0,
      valueFrom: 0, valueTo: 610, values: []} 
      })
    +panel({id:'p2', 
      slider: { isVertical: false, isTwoHandles: true, isTip: true,
      minValue: 0, maxValue: 1220, stepValue: 0,
      valueFrom: 0, valueTo: 610, values: []} 
      })
    .panelv__wrapper
      +panel({id:'p3', isVertical: true,
      slider: { isVertical: true, isTwoHandles: true, isTip: true,
      minValue: 0, maxValue: 1220, stepValue: 0,
      valueFrom: 0, valueTo: 610, values: []} 
      })
      +panel({id:'p4', isVertical: true,
      slider: { isVertical: true, isTwoHandles: true, isTip: true,
      minValue: 0, maxValue: 1220, stepValue: 0,
      valueFrom: 0, valueTo: 610, values: []} 
      })

    .test1
    .test2
    script(type="text/javascript" src="jquery/jquery.js")
    script(type="text/javascript" src="jquery-plugins/toxin-rangeslider/toxin-rangeslider.js")
    script(type="text/javascript" src="index.js")
