@import "../../common.less";
//@import "../../components/toxin-rangeslider/toxin-rangeslider.less";

// @import "../../fonts/FA5_Brands-Regular-400/fonts.css";
// @import "../../fonts/MaterialIcons/material-icons.css";
// @import "../../fonts/Montserrat/fonts.css";
// @import "../../fonts/Open-Sans/fonts.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 360px;
  align-items: center;
  justify-content: center;
}

.test1 {    
  width: 260px;
  height: 35px;
  margin-bottom: 20px;  
}

.test2 {
  height: 260px; 
  width: 80px;
}