include ../../common
include ../../components/todo/todo

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Toxin range slider
    +favicon       
    link(href="index.css" rel="stylesheet") 
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
  body
    .test1
    script(type="text/javascript" src="index.js")