@import "../../common.less";
//@import "../../components/toxin-rangeslider/toxin-rangeslider.less";

// @import "../../fonts/FA5_Brands-Regular-400/fonts.css";
// @import "../../fonts/MaterialIcons/material-icons.css";
// @import "../../fonts/Montserrat/fonts.css";
// @import "../../fonts/Open-Sans/fonts.css";

.test1 {    
  width: 260px;
  margin-bottom: 10px;
  outline: 1px solid red;
}

// .test2 {
//   height: 260px;
//   outline: 1px solid red;
// }