mixin todo(data)
  .container
  h1 MVP Example
  h2 TODO
  form(data-bind='todoView' class='toxinrangeslider-apply1211' data-options='{"text000": "hi from pug!"}')
    .form-group
      input.form-control(data-bind='input' required='' placeholder='task')
    button.btn(type='submit') Submit
    ul(data-bind='tasks')
